.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 10px;
}

.item {
  border: 1px solid rgb(161, 161, 161);
  padding: 10px;
  border-radius: 4px;
}

.item img {
  height: 100%;
  width: auto;
}

.item:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  border-color: rgb(0, 0, 0);
}
